body{
    background: #e0e0e0;
}

h1 {
    text-align: center;
}

header{
    background: #555555;
    margin: 0px;
    width: 100%;

}
nav li{
    display: inline-block;
    align-items: flex-start;
    vertical-align: middle;
}
.nav{
    background: #0ff;
    color: #000000;
    padding: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    margin: 2%;
    font-size: large;
}

#logo{
    background: #555555;
}

footer{
    background: #555555;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a:link{
    color: #ffffff;
}

footer a:visited{
    color: #e0e0e0;
}


.home_table{
    vertical-align: top;
}

.home_td{
    width: 25%;
    padding: 0% 10% 0% 10%;
    vertical-align: top;
}

.default_message{
    padding: 0% 20% 0% 20%;
}